{% extends 'base.html'%}

{% load static %}
{% load humanize %}


{% block content %}


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    {% if products.image %}
                    <img class="card-img-top" src="{{ products.image.url }}" alt="{{ product.name }}" />
                    {% else %}
                        <img class="card-img-top" src="{% static 'path/to/default/image.jpg' %}" alt="هیچ تصویری موجود نیست" />
                    {% endif %}                            
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-left">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ products.name }}</h5>
                            <p> {{ products.category }}</p>
                            
                            <!-- Product price-->
                            <p>price: {{ products.price | intcomma }} R</p>
                
                        </div>
                    </div>
                    <!-- Product actions-->
                    <form method="post" action="{% url 'order' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ products.id }}">
                        <input type="number" name="quantity" min="1" value="1" required>  <!-- اضافه کردن این خط -->
                        <button type="submit" class="btn btn-outline-dark mt-auto">add cart</button>
                    </form>
                </div>
            </div>
    </div>
</section>
{% endblock %}